/* HEADER CSS */

header {
	margin: 25px;
	background-color: #FFBF00;
}

header h1 {
	font-size: 21pt;
	color: #FFFFFF;
}

header p {
	color: #FFFFFF;
	/*font-size: 12pt;*/
}

header img {
	height: 110px;
}



/* BODY CSS */

body {
	background-color: #FFFFFF;
	font-family: sans-serif;
	
}

/* HOMEPAGE.JSP CSS */
.home > .homeImage {
	text-align: left;
}

.home > .homeText {
	display: flex;
}

