/* HEADER CSS */

header {
	margin: 25px;
	background-color: #FFBF00;
}

header h1 {
	font-size: 21pt;
	color: #FFFFFF;
}

header p {
	color: #FFFFFF;
	/*font-size: 12pt;*/
}

header img {
	height: 110px;
	
}
/* css for Survey and Survey Result */

#surveyTitle {
	text-align: center;
	
}
#imgDiv {
	width:60%;
}
#parkImg {
 	width: auto;
  	height: 50%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.tableData {
	text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.tableborder{
	
	border: 1px solid black;
	
}
.center {
    margin-left:auto; 
    margin-right:auto;
  }

}



/* BODY CSS */

body {
	background-color: #FFFFFF;
	font-family: sans-serif;
	
}

/* HOMEPAGE.JSP CSS */
.home > .homeImage {
	text-align: left;
}

.home > .homeText {
	display: flex;
}

