body {
	background-color: #FFFFFF;
	font-family: sans-serif;
}

header {
	margin: 25px;
}

header h1 {
	font-size: 21pt;
	color: #FFFFFF;
}

header p {
	color: #FFFFFF;
	/*font-size: 12pt;*/
}

header img {
	height: 110px;
}
